PROJECT_NAME=
PORT=

# DATA BASE
DB_HOST=
DB_PORT=
DB_NAME=
DB_PASSWORD=
DB_USERNAME=

# JWT
JWT_SECRET=r4u7x!A%D*G-JaNdRgUkXp2s5v8y/B?E(H+MbPeShVmYq3t6w9zFC&F)J@NcRfTj

# URLS
HOST_API=http://localhost:8080/api
HOST_FRONTEND=http://localhost:3000

# NODEMAILER
MAIL_FROM=
MAIL=
MAIL_HOST=smtp.gmail.com
MAIL_NAME=
MAIL_PASSWORD=
